* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.module-teams-ingame-gfx {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: relative;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  color: var(--text-color);
  font-size: 50px;
}

.blue {
  color: var(--blue-team);
}

.red {
  color: var(--red-team);
}

#tag-container {
  position: absolute;
  background-image: url(../img/tags.png);
  font-size: 45px;
  line-height: 1;
  text-transform: uppercase;
  background-position: center top;
  width: 100%;
  height: 100%;
  display: unset;
  justify-content: center;
  text-align: center;
  z-index: 5;
}

#blue-tag,
#red-tag {
  z-index: 10;
  position: absolute;
  width: 100px;
  height: 61px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#blue-tag {
  right: 78.6%;
  transform: translateX(50%);
}

#red-tag {
  left: 79.25%;
  transform: translateX(-50%);
}

#score-container {
  position: absolute;
  background-image: url(../img/scores.png);
  background-position: center top;
  width: 100%;
  height: 100%;
  font-size: 30px;
  display: unset;
  justify-content: center;
  text-align: center;
  z-index: 1;
}

#blue-score,
#red-score {
  z-index: 10;
  margin-top: 0.3rem;
}

#blue-score {
  transform: translateX(-633px);
  margin-top: 0px;
}

#red-score {
  transform: translateX(647px);
  /* margin-top: -33px; */
  margin-top: 0px;
}

.point {
  display: none;
}
